<section id="projects">
	<div class="intro">
		<h2>What I've Just Finished</h2>
		<p>Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien.</p>
	</div>
	<ul class="project-list">
		<%= render :partial => 'project', :collection => @projects %>
	</ul>
</section>