<section id="projects-index">
	<ul>
	<% collection.each do |project| %>
		<%= raw portfolio_rollover_link(project, :image_type => :project_widethumb, :cycle_array => ['first', 'second']) %>
	<% end %>
	</ul>
</section>